body {
	background-color: #607D8B;
	font-family: 'Roboto', sans-serif;
}

.pomodoro-wrapper {
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center;
}

.pomodoro-title {
	font-size: 28pt;
	position: fixed;
	top: 30%;
	left: 0%;
	right: 0%;
}

.pomodoro-timer {
	font-size: 56pt;
	position: fixed;
	top: 45%;
	bottom: 40%;
	left: 0%;
	right: 0%;
}

.pomodoro-button {
	position: fixed; 
	bottom: 30%;
	left: 0%;
	right: 0%;
}

.footer {
	color: white;
	position: fixed; 
	bottom: 5px;
	left: 0%;
	right: 0%;
}